## The Beginner's Course 1

### Introduction To Computer Programming

##### Computer Programming is the practice of writing instructions or codes called programs that
##### computers can follow to perform tasks.

##### Computers read instructions in binary (0 and 1). Therefore computer programs are always converted
##### into the binary of 0s and 1s before being run by any computer system. This is called compilation into machine language.
##### Thus, machine language is the language of 0s and 1s understood by computers.
##### On the other hand, programming language is the human readable syntax in which computer programs are written.

### Types of Computer Programming Languages
##### There are 2 common varieties of programming languages namely:
  - Functional Programming Languages
  - Object-Oriented Programming Languages

### Examples of Programming Languages
   - Java
   - C#
   - C++
   - Python
   - Elixir
   - Erlang
   - Ruby on Rails
   - Go
   - Scala
   - Rust
   - JavaScript
   - etc

## Introduction To Python

##### Python is an Object-Oriented Programming Language with strict indentation syntax.

#### Data Types

##### Writing computer programs basically involve the input of data and the output of meaningful data (which is information).
##### The primary and most commonly used data types are:
  - Numbers (Integers and Float)
  - Strings
  - Boolean Operators
  - Tuples
  - List
  - Dictionary

#### Numbers
##### All postive and negative non-decimal numbers are categorised under INTEGERS. E.g., 2, 4567, -89, 1000
##### All positive and negative decimal numbers are categorised under FLOAT. E.g., -4.56, 678.01, 4.5

#### Strings
##### Any character enclosed in single or double quotes.
##### The character may be a symbol, alphabet or number. Egs, "Friends", "2345", "#rt5", "relax!"

#### Boolean and Comparison Operators
##### For expressing truthfulness as well as comparing statements.
##### The most commonly used boolean operators are AND, OR, NOT, TRUE, FALSE.
##### These boolean operators can also be expressed symbolically as:
 - == -> equal to; 5 == 5 = True
 - != -> not equal to; ten != 10 = True
 - <= -> less than or equal to; len("relax") <= 4 = False
 - ##### >= -> greater than or equal to; len("relax") <= 4 = False
 - < -> less than; 60 < 100 = True
 - ##### > -> greater than; 60 > 100 = False
 - || -> OR; 5 > 10 || 2 > 5 = True
 - && -> AND; 5 > 10 && 2 > 5 = False

#### Tuples
##### A bracket containing zero or more items.
##### The items could be any character.
##### Tuples are immutable, thus their items cannot be modified.
##### Egs., ("you", 23), (50.5, 30, True)

#### List
##### A square bracket containing zero or more items.
##### The items of a list could be any character.
##### Lists are mutable, thus, their items can be modified.
##### Egs., [97, "Friends", ("you", "come!")]

#### Dictionary
##### A curly bracket containing  zero or more items where each item has a key-value pair.
##### Dictionaries are mutable.
##### The value of a dictionary can be of any type but the key is always a string.
##### Egs., {"name": "Addison", "age": 27, "goals": 11},

### Variables
##### A variable is any item to which any item/items can be assigned to.
##### Thus, a variable is a store-space/shelf for holding items so that those items
##### can be uniquely referenced later.
##### A typical example is the names we have. There are diverse human beings on this planet
##### each having a specific name that makes it easier for identification.

##### There's a syntax for creating variables. A variable can only start with:
  - alphabets
     - snake_case (egs, school_name, age_group)
     - camelCase (egs, schoolName, ageGroup)
     - PascalCase (egs, SchoolName, AgeGroup)
     - flatcase (egs, schoolname, agegroup)

  - underscore
     - Examples: _school_name, _agegroup
     - If the specific name of a variable is not necessary, then an underscore is placed before the name.

  
  ### A variable cannot start with a number or symbol (apart from an underscore).

##### Typical egs of variables
   - school_name = "Opoku Ware School"
   - ageGroup = range(12, 20)

### String Manipulation

##### This section deals with workking with strings.
##### We are going to learn how to manipulate strings with examples.

#### Example 1 - String Splitting I

In [1]:
fullname_separated_by_comma = input("Please enter your full name separated by a comma. For eg., Linford,Adomako: ")

Please enter your full name separated by a comma. For eg., Linford,Adomako:  Linford,Adomako

In [2]:
fullname_separated_by_space = input("Please enter your full name separated by a comma. For eg., Linford Adomako: ")

Please enter your full name separated by a comma. For eg., Linford Adomako:  Linford Adomako

In [3]:
# Split the name into first_name and surname
first_name = fullname_separated_by_comma.split(",")[0]
surname = fullname_separated_by_comma.split(",")[1]

In [4]:
# Print your firstname and surname
print("Please tell us your first name and surname")
print(f"My first name is {first_name} and my surname is {surname}")
print("Bravo! You just completed your first programming challenge")

Please tell us your first name and surname
My first name is Linford and my surname is Adomako
Bravo! You just completed your first programming challenge

#### Task 1: 
  - Split the fullname_separated_by_space variable into first name and surname

#### Example 2 - String Concatenation

In [5]:
# Let change the order of the names such that the surname precedes the first name
fullname_without_space = surname + first_name
fullname_with_space = surname + " " + first_name

print(f"My fullname can be be rendered also as {fullname_without_space}")
print(f"My fullname can be re-rendered as {fullname_with_space}")

My fullname can be be rendered also as AdomakoLinford
My fullname can be re-rendered as Adomako Linford

In [6]:
# Let's add a fullstop 
fullname_with_space = surname + " " + first_name + "."
print(f"My fullname with fullstop as {fullname_with_space}")

My fullname with fullstop as Adomako Linford.

#### Task 2
  - Convert the result of Task 1 into a fullname separated by a comma with the surname preceding the firstname.
  - Add a new variable referencing the name of your school and print this statement: "I am called 'surname firstname', and I attend 'name of your school'".

#### Example 3 - String Splitting II

In [14]:
# We will split strings into their individual characters and move them around

# before splitting, let's modify the names' case into a uniform type

# Names to upper case
firstname_upper = first_name.upper()
surname_upper = surname.upper()

print(f"My name is written in capital blocks as: {firstname_upper} {surname_upper}.")

My name is written in capital blocks as: LINFORD ADOMAKO.

### Task 3 - Convert your name into lowercase 
   - use the following variables:
   - firstname_lower
   - surname_lower
   - Hint: the function lower() converts uppercase to lower case

In [18]:
# split the first name and surname into individual characters(alphabets)
split_firstname = list(firstname_upper)
split_firstname

['L', 'I', 'N', 'F', 'O', 'R', 'D']

In [19]:
# split the surname into individual characters(alphabets)
split_surname = list(surname_upper)
split_surname

['A', 'D', 'O', 'M', 'A', 'K', 'O']

In [20]:
# converting the characters into a single case allows for easy comparison 

# lets combine both lists into a single one
name_in_capitals = split_firstname + split_surname
name_in_capitals

['L', 'I', 'N', 'F', 'O', 'R', 'D', 'A', 'D', 'O', 'M', 'A', 'K', 'O']

### Task 4 - Split your name into individual characters
   - split your lowercase first name and surname (from Task 3) into individual characters, each in a list
   - combine the two lists and assign to the variable "name_in_lowercase".
   - Compare name_in_lowercase to name_in_upper with the equal to operator to see if they are the same.