## The Beginner's Course 2

### Conditional Flows

#### If...else clause
   - This clause expresses a condition.
   - Just like an if statement, there's always an initial condition and a resulting condition.
   - A similar principle is applied when using if and else clauses.

In [5]:

if 3 != 7:
    print("3 is not equal to 7") # code is if block
else:
    print("3 equals 7") # code is in else block

3 is not equal to 7

In [24]:
name = "adofo"
my_name = "Mike"

In [12]:
if name == my_name:
    print("the names are equal")
else:
    print("they are not equal")

they are not equal

In [21]:
name_list_comprehension = [print(f"the names are equal {name} {my_name}") if name == my_name else print("they are not equal")]

name_list_comprehension

the names are equal Mike Mike

[None]

In [25]:
if my_name != "Mike":
    print("The sexy name is not Mike")
elif name == "mike":
    print("The sexy name is mike")
else:
    print("The name is not sexy")

The name is not sexy

In [26]:
first = "Michael"
second = 289
third = "Adofo"
fourth = 289

In [27]:
if first == third:
    print("Bravo")
elif first == second:
    print("Well done")
elif third == fourth:
    print("Impressive")
elif second == fourth:
    print("Sleep well")
else:
    print("Try again")

Sleep well

#### From the above code, we learn the ff:
   - if the 'if statement' (in this case, '3 < 7') is true, then the code indented below it is run otherwise....
   - the 'else statement' (in this case, '3 >= 7') is true, then the code below it is run

In [8]:
#Let's try another example that runs the else statement

if 3 > 7:
    print("3 is greater than 7")
else:
    print("3 is not greater than 7")

3 is not greater than 7

#### Also the elif statement can be used for checking for more conditions

In [9]:
# elif statement examples

if 3 > 7:
    print("3 is greater than 7")
elif 3 < 7:
    print("3 is less than 7")
else:
    print("3 is less than or equal to 7")

3 is less than 7

### For.. loops

#### For loop is used to run through any group of items
  - the loop picks a single unit representation of the whole group
  - then it runs the same code in the indented block across each of the single units that make up the group

In [29]:
name_in_capitals = ['L', 'I', 'N', 'F', 'O', 'R', 'D', 'A', 'D', 'O', 'M', 'A', 'K', 'O']

for _ in name_in_capitals:
    print("I hate the current school system")

I hate the current school system
I hate the current school system
I hate the current school system
I hate the current school system
I hate the current school system
I hate the current school system
I hate the current school system
I hate the current school system
I hate the current school system
I hate the current school system
I hate the current school system
I hate the current school system
I hate the current school system
I hate the current school system

In [32]:
range(5)

range(0, 5)

In [34]:
fruits = ["mango", "apple", "banana", "grapes", "orange"]

In [37]:
for _ in fruits:
    print("The fruits are plenty")

The fruits are plenty
The fruits are plenty
The fruits are plenty
The fruits are plenty
The fruits are plenty

In [33]:
for _ in range(5):
    print("My name")

My name
My name
My name
My name
My name

In [ ]:
# firstname 
# surname
# fullname contains your firstname and surname
# convert your fullname variable to upper case
# fullname_to_list: break the items in the fullname variable into individual characters

In [38]:
teams = {
    "Laliga": ["Barca", "Madrid", "Atico"],
    "EPL": ["Chelsea", "Man Utd", "Liverpool"],
    "Serie A": ["Inter", "AC Milan", "Juventus"]
}

In [40]:
teams["Ligue 1"] = ["PSG", "Monaco", "Lyon"]

In [42]:
teams["Bundesliga"] = ["Bayern", "Leverkusen", "Dortmund"]

In [44]:
teams["EPL"]

['Chelsea', 'Man Utd', 'Liverpool']

In [52]:
EPL = teams['EPL']

In [55]:
EPL_items_concatenated = EPL[0] + EPL[1] + EPL[2]

In [59]:
EPL_items_concatenated_upper = EPL_items_concatenated.upper()

In [60]:
teams_dict = {}

for letter in EPL_items_concatenated_upper:
    if letter in teams_dict:
        teams_dict[letter] += 1
    else:
        teams_dict[letter] = 1

In [61]:
teams_dict

{'C': 1,
 'H': 1,
 'E': 3,
 'L': 3,
 'S': 1,
 'A': 2,
 'M': 1,
 'N': 1,
 ' ': 1,
 'U': 1,
 'T': 1,
 'D': 1,
 'I': 1,
 'V': 1,
 'R': 1,
 'P': 1,
 'O': 2}

### A players dictionary with 3 teams as keys, each with 3 players as values...the values should be in a list

In [45]:
num = 4
num += 1

In [46]:
num

5

In [47]:
num = 4
num = num + 1
num

5

In [48]:
# typical examples
name_in_capitals = ['L', 'I', 'N', 'F', 'O', 'R', 'D', 'A', 'D', 'O', 'M', 'A', 'K', 'O']
name_character_count = {}

for character in name_in_capitals:
    if character in name_character_count:
        name_character_count[character] += 1
    else:
        name_character_count[character] = 1

In [51]:
name_character_count

{'L': 1,
 'I': 1,
 'N': 1,
 'F': 1,
 'O': 3,
 'R': 1,
 'D': 2,
 'A': 2,
 'M': 1,
 'K': 1}

In [ ]:
'Michael Adofo'

In [ ]:
{
    'M': 1,
    'I': 1,
    'C': 1,
    'H': 1,
    'A': 2,
    'E': 1,
    'L': 1,
    'D': 1,
    'O': 2,
    'F': 1
}

In [50]:
for character in name_in_capitals:
    print(character)

L
I
N
F
O
R
D
A
D
O
M
A
K
O

### Task 1 - Separating vowels and consonants
   - alphabets = 'abcdefghijklmnopqrstuvwxyz'
   - Separate all vowels in the alphabets string into a single list named "vowels"
   - Separate all consonants in the alphabets string into a single list named "consonants"

In [13]:
alphabets = 'abcdefghijklmnopqrstuvwxyz'
alph_list = list(alphabets)
vowels = ['a', 'e', 'i', 'o', 'u']
consonants = []

for alphabet in alph_list:
    if alphabet in vowels:
        None
    else:
        consonants.append(alphabet)

consonants

['b',
 'c',
 'd',
 'f',
 'g',
 'h',
 'j',
 'k',
 'l',
 'm',
 'n',
 'p',
 'q',
 'r',
 's',
 't',
 'v',
 'w',
 'x',
 'y',
 'z']

### While... Loops
  - While loop is just like a For.. loop just that a while loop always ends when a stopping condition is reached.
  - For example, every 100 meters race is ended when the racers cross the finishing line.
  - The racer who crosses the finishing line first becomes the winner.
  - However, any racer who leads after crossing the 70 meters mark cannot be crowned the winner until he/she crosses
     the 100 meter mark while in that leading position.

  - This is exactly how while loop works. If there is no stopping condition, the loop will continue endlessly resulting in a condition termed "infinite loop"

In [14]:
# while loop examples

condition = 0
stopping_condition = 10
results = []

while condition < stopping_condition:
    results.append(condition)

    condition += 1

results

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

### Task 3

run the code below.....

condition = 0
stopping_condition = 10
results = []

while condition < stopping_condition:
    results.append(condition)

results

Why do you think this code snippet is running too long?

### List Comprehensions

List comprehension is a short approach to writing for loops.
Instead of the usual block-like syntax to writing for loops,
List comprehension flattens all blocks into a much simpler one-liner to few-liner statements
enclosed in a list. 
So a list data type is returned at the end.

The general syntax for wrtiting a List Comprehension is:
  list_comprehension = [expression for item in iterable]

  where;
    list_comprehension = the variable name assigned to the list comprehension and its subsequent resulting list
    expression = what should be added to the resulting list after each iteration
    item = the unit of the iterable
    iterable = what the for loop runs through from start to end, each unit of this iterable is picked at each iteration
               as the item and passed through the expression.

In [1]:
# Examples of list comprehensions
squared_numbers = [x**2 for x in range(1, 10)]
squared_numbers

[1, 4, 9, 16, 25, 36, 49, 64, 81]

In [2]:
# Writing the above list comprehension in standard for...loop style
for x in range(1, 10):
    print(x**2)

1
4
9
16
25
36
49
64
81

### Adding If Statements to List Comprehensions

In [ ]:
When adding if statements to List comprehensions, the syntax changes a bit into:
   list_comprehension = [expression for item in iterable if statement]

If an else condition is also attached, the position of the if...else clause changes a bit into:
   list_comprehension = [expression if statement else clause for item in iterable]