## The Beginner's Course 1

### Introduction To Computer Programming

##### Computer Programming is the practice of writing instructions or codes called programs that
##### computers can follow to perform tasks.

##### Computers read instructions in binary (0 and 1). Therefore computer programs are always converted
##### into the binary of 0s and 1s before being run by any computer system. This is called compilation into machine language.
##### Thus, machine language is the language of 0s and 1s understood by computers.
##### On the other hand, programming language is the human readable syntax in which computer programs are written.

### Types of Computer Programming Languages
##### There are 2 common varieties of programming languages namely:
  - Functional Programming Languages
  - Object-Oriented Programming Languages
  - Imperative Programming
  - Declarative Programming
  - Static Typing Programming
  - Dynamic Typing

### Examples of Programming Languages
   - Java
   - C#
   - C++
   - Python
   - Elixir
   - Erlang
   - Ruby on Rails
   - Go
   - Scala
   - Rust
   - JavaScript
   - etc

## Introduction To Python

##### Python is an Object-Oriented Programming Language with strict indentation syntax.

#### Data Types

##### Writing computer programs basically involve the input of data and the output of meaningful data (which is information).
##### The primary and most commonly used data types are:
  - Numbers (Integers and Float)
  - Strings
  - Boolean Operators
  - Tuples
  - List
  - Dictionary

#### Numbers
##### All postive and negative non-decimal numbers are categorised under INTEGERS. E.g., 2, 4567, -89, 1000
##### All positive and negative decimal numbers are categorised under FLOAT. E.g., -4.56, 678.01, 4.5

In [3]:
type(2)

int

In [4]:
type(2.0)

float

#### Strings
##### Any character enclosed in single or double quotes.
##### The character may be a symbol, alphabet or number. Egs, "Friends", "2345", "#rt5", "relax!"

In [7]:
type('2.2')

str

#### Boolean and Comparison Operators
##### For expressing truthfulness as well as comparing statements.
##### The most commonly used boolean operators are AND, OR, NOT, TRUE, FALSE.
##### These boolean operators can also be expressed symbolically as:
 - == -> equal to; 5 == 5 = True
 - != -> not equal to; ten != 10 = True
 - <= -> less than or equal to; len("relax") <= 4 = False
 - ##### >= -> greater than or equal to; len("relax") <= 4 = False
 - < -> less than; 60 < 100 = True
 - ##### > -> greater than; 60 > 100 = False
 - || -> OR; 5 > 10 || 2 > 5 = True
 - && -> AND; 5 > 10 && 2 > 5 = False

In [13]:
# Testing the equal to comparison operator

5 <= 7

True

In [4]:
5 == 5
5 != 5
5 <= 5

5 < 5 and 5 == 5

False

In [7]:
5 < 5 or 5 == 5

True

In [8]:
firstname = "Ella"
surname = "Lin"

firstname == surname or firstname == "Ella"

True

In [9]:
firstname == surname and firstname == "Ella"

False

In [11]:
type(5 < 6 and 5 != 3)

bool

### Additional Syntax 
  - 5 < 5 or 5 == 5 can be rewritten as 5 <= 5
  - 5 != 5 means 5 is not equal to 5. The "!" denotes "not"

#### Tuples
##### A bracket containing zero or more items.
##### The items could be any character.
##### Tuples are immutable, thus their items cannot be modified.
##### Egs., ("you", 23), (50.5, 30, True)

In [1]:
(50.5, 30, True)

(50.5, 30, True)

#### List
##### A square bracket containing zero or more items.
##### The items of a list could be any character.
##### Lists are mutable, thus, their items can be modified.
##### Egs., [97, "Friends", ("you", "come!")]

In [2]:
[97, "Friends", ("you", "come!"), ["me", "#$", False]]

[97, 'Friends', ('you', 'come!'), ['me', '#$', False]]

### Sets

A curly bracket containing zero or more items.
The items of a list can only be a string, integer, float, or bool. 
A set cannot contain another set or list or dictionary, like a list does.
Also, a set cannot contain duplicates.
When sets are being created, all duplicates are removed so that only unique values 
remain in it.
Sets are mutable just like lists.
Also, the items in a set are unordered, thus, they can follow any order

Egs., {"Monday", "Tuesday", "Wednesday"}

In [6]:
# Converting the item below to a set would return
# a new set without the duplicate, thus, only one "Friday" would be shown
# And also take note of how the order changes, thus very characteristic of sets

{"Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Friday"}

{'Friday', 'Monday', 'Thursday', 'Tuesday', 'Wednesday'}

Sets are mostly required when you need to remove duplicates from items or you want to group only unique items.
However, Lists is best at keeping duplicates.
Since sets keep only unique items it is faster iterating over the items of a set than that of a list, because 
the list has an inherent redundancy due to duplication of its items.

In [11]:
# Also, duplicates can be removed from a list
# by converting it into a set and back into a list

list(set(["Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Friday"]))

['Wednesday', 'Monday', 'Thursday', 'Friday', 'Tuesday']

#### Dictionary
##### A curly bracket containing  zero or more items where each item has a key-value pair.
##### Dictionaries are mutable.
##### The key and value of a dictionary can be of any datatype.

In [15]:
{"name": "Addison", "age": 27, "goals": 11}

{'name': 'Addison', 'age': 27, 'goals': 11}

In [21]:
# This is also a valid dictionary
{"name": "Addison", 27: "age", 11: "goals", "scores": [1, 2, 3], "credentials": ("index_number", 1234567)}

{'name': 'Addison',
 27: 'age',
 11: 'goals',
 'scores': [1, 2, 3],
 'credentials': ('index_number', 1234567)}

In [22]:
# Also a dictionary can contain additional dictionaries

{
    "name": "Addison", 
    27: "age", 
    11: "goals", 
    "scores": [1, 2, 3], 
    "credentials": ("index_number", 1234567), 
    "details": {
        "country": "Ghana",
        "capital": "Greater Accra"
    }
}

{'name': 'Addison',
 27: 'age',
 11: 'goals',
 'scores': [1, 2, 3],
 'credentials': ('index_number', 1234567),
 'details': {'country': 'Ghana', 'capital': 'Greater Accra'}}

### Variables
##### A variable is any item to which any item/items can be assigned to.
##### Thus, a variable is a store-space/shelf for holding items so that those items
##### can be uniquely referenced later.
##### A typical example is the names we have. There are diverse human beings on this planet
##### each having a specific name that makes it easier for identification.

##### There's a syntax for creating variables. A variable can only start with:
  - alphabets
     - snake_case (egs, school_name, age_group)
     - camelCase (egs, schoolName, ageGroup)
     - PascalCase (egs, SchoolName, AgeGroup)
     - flatcase (egs, schoolname, agegroup)

  - underscore
     - Examples: _school_name, _agegroup
     - If the specific name of a variable is not necessary, then an underscore is placed before the name.

  
  ### A variable cannot start with a number or symbol (apart from an underscore).

##### Typical egs of variables
   - school_name = "Opoku Ware School"
   - ageGroup = range(12, 20)

In [23]:
my_name_in_french = "Linforde"
myNameInFrench = "Linforde"
MyNameInFrench = "Linforde"
mynameinfrench = "Linforde"
_ = "Linforde"
_name = "Linforde"

TopThreeFavoriteDishes = ["rice", "fufu", "banku"]

TopThreeFavoriteFoods = ["Rice balls", "Waakye", "Maize"]
my_name = ""

In [ ]:
myName = "Michael"
myAge = 21

print(f"My name is {myName}, aged {myAge}, and my top 3 favorite foods are {TopThreeFavoriteFoods}")

In [ ]:
myName = "Michael"
myAge = 21

print(f"My name is {myName}, aged {myAge}, and my top 3 favorite foods are {TopThreeFavoriteFoods}")

In [ ]:
myName = "Michael"
myAge = 21

print(f"My name is {myName}, aged {myAge}, and my top 3 favorite foods are {TopThreeFavoriteFoods}")

### Accessing Items in Lists and Dictionaries

### Indexing

Indexing is finding the location of items in a list or dictionary.
Just like index numbers are assigned to students to distinguish them from one another, 
so indexing allows for the location of unique items in a list or dictionary.

In Python, each item in a list is assigned an index.
The index describes the exact position of the item in the list.

There are two main styles of indexing in Python namely:
 - Positive Indexing:
      This assigns 0 as the index of the first item, 1 for the second and so on.
      For eg; ["Life", "Love", "Truth"]
          "Life" has index 0
          "Love" has index 1
          "Truth" ahs index 2
 - Negative Indexing
      This assigns -1 as the index of the last items, -2 for the last but one and so on.
      For eg; ["Life", "Love", "Truth"]
          "Truth" has index -1
          "Love" has index -2
          "Life" has index -3

In [6]:
family = ["Godwin", "Grace", "Ella", "Elikem", "Mikhail", "Etornam", "Linford"]
positive_family_index = [0, 1, 2, 3, 4, 5, 6]
negative_family_index = [-7,-6,-5,-4,-3,-2,-1]

In [13]:
countries = ["USA", "Ghana", "UK"]
countries_index = [0, 1, 2]

# Index for the first item is 0
# Index for the second is 1
# Index for the third is 2

# Get the first item using both positive and negative indexing
print(f"Using negative indexing: {countries[-3]}, using positive indexing {countries[0]}")

Using negative indexing: USA, using positive indexing USA

In [11]:
countries = ["USA", "Ghana", "UK", "Belgium", "Australia", "Japan", "Korea", "China"]
countries[0]

'USA'

In [12]:
foods = ["Tuo Zaafi", "Akpele", "Rice balls", "Scrambled eggs", "Chinese Fried rice", "Jollof rice"]

In [ ]:
# print all the local foods in the list
# print all the continental foods in the list

# print this statement
# My favourite local dish is --- and my favourite continental dish is ---

In [14]:
countries = ["USA", "Ghana", "UK", "Belgium", "Australia", "Japan", "Korea", "China"]

In [13]:
countries

['USA',
 'Ghana',
 'UK',
 'Belgium',
 'Australia',
 'Senegal',
 'Zambia',
 'Togo',
 'Benin']

#### Slicing

In [30]:
countries[2:-2]

['UK', 'Belgium', 'Australia', 'Japan']

In [15]:
# Validating the mutability of lists
print(f"The country in the last position is {countries[-1]}")

countries[-1] = "Canada"
print(f"The country in the last position has been updated to {countries[2]}")

The country in the last position is China
The country in the last position has been updated to UK

In [16]:
countries

['USA', 'Ghana', 'UK', 'Belgium', 'Australia', 'Japan', 'Korea', 'Canada']

## Accessing the items in a dictionary

In [1]:
continents = {"Africa": {
                "West Africa": ["Ghana", "Nigeria", "Senegal", "Burkina Faso"],
                "East Africa": ["Kenya", "Chad", "Ethiopia", "Somalia"],
                "South Africa": ["South Africa", "Zimbabwe", "Malawi", "Namibia"],
                "North Africa": ["Egypt", "Algeria", "Morocco", "Tunisia"]
              }, 
              "America": ["USA", "Canada", "Brazil", "Peru"], 
              "Europe": ["Spain", "Portugal", "France", "England", "Italy"], 
              "Asia": ["Iraq", "Syria", "Iran", "Pakistan"]
             }

In [4]:
"""
I am printing the statement below:

Ghana and Nigeria are among the countries with most of its citizens in USA, England and Canada whereas they are hardly found in Iraq or Pakistan.
"""
print(f"{continents["Africa"]["Countries"][0]} and {continents["Africa"]["Countries"][1]} are among the countries with most of its citizens in {continents["America"][0]}, {continents["Europe"][3]} and {continents["America"][1]} whereas they are hardly found in {continents["Asia"][0]} or {continents["Asia"][-1]}")

Ghana and Nigeria are among the countries with most of its citizens in USA, England and Canada whereas they are hardly found in Iraq or Pakistan

## USA has a grudge with Iran but Brazil has nothing to do with Syria unless they meet in a football match somewhere in England or Ghana

In [19]:
# we're printing just the countries in Eastern Africa as well as those in Western Africa

print(f"These are in West Africa: {continents["Africa"]["Countries"][:4]}")

print(f"These are East Africa: {continents["Africa"]["Countries"][4:]}")

These are in West Africa: ['Ghana', 'Nigeria', 'Senegal', 'Burkina Faso']
These are East Africa: ['Kenya', 'Chad', 'Ethiopia']

In [15]:
print(f"The nations with the best football leagues in Europe are: {continents["Europe"][0]}, {continents["Europe"][-2]} and {continents["Europe"][-1]}")

The nations with the best football leagues in Europe are: Spain, England and Italy

In [ ]:
# print the following
# The second country in Africa is Nigeria
# Both Brazil and Peru are in America
# Spain and France are among the best football nations
# The Middle East is predominantly Islamic comprising Iraq, Syria and Pakistan

In [19]:
continents["Europe"][2::]

['France', 'England', 'Italy']

In [20]:
continents["Europe"]

['Spain', 'Portugal', 'France', 'England', 'Italy']

#### Task
  - print the following:
  - The second country in Africa is Nigeria
  - Both Brazil and Peru are in America
  - Spain and France are among the best football nations
  - The Middle East is predominantly Islamic comprising Iraq, Syria and Pakistan

In [37]:
print(f"The second country in Africa is {continents["Africa"][1]}")

The second country in Africa is Nigeria

In [38]:
print(f"Both {continents['America'][1]} and {continents['America'][2]} are in America")

Both Brazil and Peru are in America

In [39]:
print(f"{continents["Europe"][0]} and {continents["Europe"][2]} are among the best football nations")

Spain and France are among the best football nations

In [54]:
print(f"The Middle East is predominantly Islamic comprising: {continents["Asia"][:3]}")

The Middle East is predominantly Islamic comprising: ['Iraq', 'Syria', 'Pakistan']

### User Input

This enables a fill-in feature from the user.
That's the user gets to enter custom inputs.
For example, most people have unique names and if we want to 
get the name of each person and greet each by his/her name,
we would need a custom input each user's name and this is where
Python's "user input" functionality shines best.

In [1]:
# it uses the "input" function for this purpose
name_input = input("Please enter your name here: ")
print(f"Hello {name_input}")

Please enter your name here:  Lin

Hello Lin

### Functions
 - Well defined instructions that take specific inputs and return specific results
 - The inputs of a function is termed as arguments.
 - There are 2 main types of arguments:
    - Keyword arguments (kwargs)
        - eg, name(surname="Adofo", firstname="Michael")

    - Positional arguments
        - eg, name(firstname, surname)
     
 - A function is initiated with the "def" syntax

 - The results of each function has to be passed to "return" before it can be used outside of that function else it remains locked up in the function block

In [ ]:
vegetables("carrot", "onion", "pepper")

In [ ]:
def function_name(argument(s)):
    define the function or
    give the function instructions to perform

    return the result

In [13]:
def food(continental, local):
    food_menu = f"{continental}, {local}"
    return f"The foods on the menu are {food_menu}"

In [ ]:
continental = "Sushi"
local = "Waakye"

In [14]:
school("Christa Valley", "Sakumono")

In [15]:
school(name="Owass", location="Santasi")

In [16]:
school(name="Mt.Zion", location="Tema")

In [17]:
school("Mt.Zion", "Tema")

In [28]:
# Function with keyword arguments
def name_keyword(middle_name="Kofi", firstname="Michael", surname="Adofo"):
    fullname = firstname + " " + middle_name + " " + surname 
    return fullname

In [29]:
name_keyword()

'Michael Kofi Adofo'

In [30]:
# Positional arguments
def name_keyword_without_default(surname, firstname, middle_name):
    fullname = firstname + " " + middle_name + " " + surname 
    return fullname

In [31]:
name_keyword_without_default("Michael", "Linford", "Kofi")

'Linford Kofi Michael'

In [15]:
name = "Mike"

In [16]:

def our_input(family, prompt="What is your name?"):
    answer = prompt + " " + family
    return answer

In [17]:
our_input("Lin")

'What is your name? Lin'

In [36]:
f(answer = x + 5)

25

In [24]:
name_keyword()

In [48]:
name_keyword("Trump", "Donald")

'My surname is Donald and my firstname is Trump'

In [36]:
def name_keyword_without_return(surname="Adofo", firstname="Michael"):
    name = firstname + " " + surname
    return firstname, surname, name

def name_positional(firstname, surname, name):
    return print(f"My fullname is firstname: {firstname}, surname: {surname}/n So you can call me {name}")

In [32]:
name_keyword_without_return("Donald", "Trump")

('Trump', 'Donald', 'Trump Donald')

In [52]:
# Function with positional arguments
def name_positional(firstname, surname, name):
    return f"My fullname is firstname: {firstname}, surname: {surname}\n So you can call me {name}"

In [50]:
name_positional(surname="Donald", firstname="Trump", name="Donald Trump")

My fullname is firstname: Trump, surname: Donald
 So you can call me Donald Trump

In [51]:
name_positional(firstname="Donald", surname="Trump", name="Donald Trump")

My fullname is firstname: Donald, surname: Trump
 So you can call me Donald Trump

### String Manipulation

##### This section deals with working with strings.
##### We are going to learn how to manipulate strings with examples.

#### Example 1 - String Splitting I

In [25]:
fullname_separated_by_comma = input("Please enter your full name separated by a comma. For eg., Linford,Adomako: ")

Please enter your full name separated by a comma. For eg., Linford,Adomako:  Princess,Marfo

In [26]:
fullname_separated_by_comma

'Princess,Marfo'

In [29]:
split_name = fullname_separated_by_comma.split(",")
split_name

['Princess', 'Marfo']

In [30]:
split_name[0]

'Princess'

In [31]:
fullname_separated_by_comma.split(",")[0]

'Princess'

In [2]:
fullname_separated_by_space = input("Please enter your full name separated by a space. For eg., Linford Adomako: ")

Please enter your full name separated by a comma. For eg., Linford Adomako:  Linford Adomako

In [ ]:
fullname_separated_by_space

In [54]:
fullname_separated_by_comma

'Donald,Trump'

In [15]:
import pandas as pd

pd.read_csv("angola.csv")

  vertices  latitude  longitude
0        A -4.883611  12.501111
1        B -4.884444  12.623611
2        C -4.948611  12.625833
3        D -5.050833  12.500000

AttributeError: module 'os' has no attribute 'getdir'

In [5]:
name=Pearl,Nana Yaa,Boateng
splitname=name.split(",")
splitname

['Pearl', 'Nana Yaa', 'Boateng']

In [12]:
splitname[1]
splitname[-1]
splitname[-3] = "(Pearl)"
splitname[-3].strip("( )")

'Pearl'

In [16]:
for name in splitname:
    print(name)
    if ama:
        print...
    else:
        print....o
    if

(Pearl)
Nana Yaa
Boateng

In [17]:
newli
newlist

(Pearl)
Nana Yaa
Boateng

[None, None, None]

In [24]:
name = "Michael,Kofi,Adofo"
name.split("A")

['Michael Kofi', 'dofo']

In [55]:
# Split the name into first_name and surname
first_name = fullname_separated_by_comma.split(",")[0]
surname = fullname_separated_by_comma.split(",")[1]

In [56]:
# My first name is ----, middle name is ---- and surname is ----

('Donald', 'Trump')

In [ ]:
Michael Kofi Adofo
first_name = "Michael"
middle_name = "Kofi"
last_name = "Adofo"

# My name initials are MKA
print("Bravo! You just completed your first programming challenge")
Michael...get just 'M'
Kofi...get just 'K'
Adofo...get just 'A'

In [4]:
# Print your firstname and surname
print("Please tell us your first name and surname")
print(f"My first name is {first_name} and my surname is {surname}")
print("Bravo! You just completed your first programming challenge")

Please tell us your first name and surname
My first name is Linford and my surname is Adomako
Bravo! You just completed your first programming challenge

#### Task 1: 
  - Split the fullname_separated_by_space variable into first name and surname

#### Example 2 - String Concatenation

In [6]:
fname ="Michael"
sname = "Adofo"

fullname = fname + "," + sname
fullname

'Michael,Adofo'

In [12]:
2 + 4

6

### List Concatenation

In [10]:
fname_list = list(fname)
sname_list = list(sname)
combined_names = fname_list[4:] + sname_list[2:]
combined_names

['a', 'e', 'l', 'o', 'f', 'o']

In [5]:
# Let change the order of the names such that the surname precedes the first name
fullname_without_space = surname + first_name
fullname_with_space = surname + " " + first_name

print(f"My fullname can be be rendered also as {fullname_without_space}")
print(f"My fullname can be re-rendered as {fullname_with_space}")

My fullname can be be rendered also as AdomakoLinford
My fullname can be re-rendered as Adomako Linford

In [6]:
# Let's add a fullstop 
fullname_with_space = surname + " " + first_name + "."
print(f"My fullname with fullstop as {fullname_with_space}")

My fullname with fullstop as Adomako Linford.

#### Task 2
  - Convert the result of Task 1 into a fullname separated by a comma with the surname preceding the firstname.
  - Add a new variable referencing the name of your school and print this statement: "I am called 'surname firstname', and I attend 'name of your school'".

#### Example 3 - String Splitting II

In [14]:
# We will split strings into their individual characters and move them around

# before splitting, let's modify the names' case into a uniform type

# Names to upper case
firstname_upper = first_name.upper()
surname_upper = surname.upper()

print(f"My name is written in capital blocks as: {firstname_upper} {surname_upper}.")

My name is written in capital blocks as: LINFORD ADOMAKO.

In [ ]:
# Create a fullname variable that concatenates both your firstname_upper and surname_upper
# Then print My name is written in capital blocks as: ---fullname_upper--- 

# Create a fullname variable that concatenates both your firstname_lower and surname_lower
# Then print My name is written in capital blocks as: ---fullname_lower---

### Task 3 - Convert your name into lowercase 
   - use the following variables:
   - firstname_lower
   - surname_lower
   - Hint: the function lower() converts uppercase to lower case

In [ ]:
"""
Create these variables:

split_fullname_upper: splits the fullname_upper into a list of individual characters
split_fullname_lower: splits the fullname_lower into a list of individual characters

fullname: combines both split_fullname_upper and split_fullname_lower into a list
"""

In [18]:
# split the first name and surname into individual characters(alphabets)
f_name = "LINFORD"
s_name = "ADOMAKO"
split_firstname = list(firstname_upper)
split_firstname

['L', 'I', 'N', 'F', 'O', 'R', 'D']

In [19]:
# split the surname into individual characters(alphabets)
split_surname = list(surname_upper)
split_surname

['A', 'D', 'O', 'M', 'A', 'K', 'O']

In [20]:
# converting the characters into a single case allows for easy comparison 

# lets combine both lists into a single one
name_in_capitals = split_firstname + split_surname
name_in_capitals

['L', 'I', 'N', 'F', 'O', 'R', 'D', 'A', 'D', 'O', 'M', 'A', 'K', 'O']

### Task 4 - Split your name into individual characters
   - split your lowercase first name and surname (from Task 3) into individual characters, each in a list
   - combine the two lists and assign to the variable "name_in_lowercase".
   - Compare name_in_lowercase to name_in_upper with the equal to operator to see if they are the same.